---
import { Image } from "astro:assets";
import wave from "@assets/img/wave.png";
import childrenFooter from "@assets/img/children-footer.png";
import line01 from "@assets/img/linea-01.png";
import line03 from "@assets/img/linea-03.png";
---

<section
  class="relative isolate min-h-[28rem] overflow-hidden bg-childfund-green
px-8 pt-14 text-white md:min-h-[30rem] md:px-16 md:py-20"
>
  <Image
    src={wave}
    alt=""
    class="pointer-events-none absolute left-1/2 top-4
   h-16 w-screen max-w-none
   -translate-x-1/2 -translate-y-1/2 rotate-0 object-cover md:h-28"
  />

  <div
    class="absolute bottom-0 -right-80 z-10
  h-96 w-132 overflow-hidden md:-right-16 md:h-[42rem] md:w-[50rem]"
  >
    <Image
      src={childrenFooter}
      loading="eager"
      alt="Niñas y niños sonriendo"
      class="absolute inset-y-0 -left-1/4 h-full w-[126%] max-w-none object-cover"
    />
  </div>

  <Image
    src={line01}
    alt=""
    class="absolute left-1/2 top-48 h-24 w-36 -translate-x-1/4 rotate-[-31deg] opacity-90 md:left-[64%] md:top-44 md:h-44 md:w-72"
  />
  <Image
    src={line03}
    alt=""
    class="absolute right-0 top-72 hidden h-36 w-80 md:block"
  />

  <div class="relative z-20 mx-auto max-w-7xl md:pl-16">
    <div class="max-w-60 text-center md:max-w-4xl">
      <h2
        class="m-0 text-2xl font-extrabold leading-none md:text-5xl md:tracking-widest"
      >
        Hay un lugar para ti en este equipo.
      </h2>
      <p
        class="m-0 mt-5 text-base font-medium leading-tight md:mt-20 md:text-3xl"
      >
        Tú puedes ayudar a construir oportunidades y entornos más seguros para
        la niñez.
      </p>
      <a
        href="#registro"
        class="mt-8 inline-flex px-3 py-2
      items-center justify-center rounded-lg bg-childfund-orange text-base
      font-bold tracking-widest text-white transition hover:bg-black
      md:mt-10 md:h-14 md:w-full md:max-w-2xl md:text-3xl"
      >
        Únete al equipo.
      </a>
    </div>
  </div>
</section>
