---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import MeaningSection from "@components/sections/MeaningSection.astro";
import AboutSection from "@components/sections/AboutSection.astro";
import FinalCtaSection from "@components/sections/FinalCtaSection.astro";
---

<Layout
  title="ChildFund | Soy más verde con ChildFund"
  description="Apadrina hoy y ayuda a construir mejores oportunidades para niñas, niños y adolescentes con ChildFund México."
>
  <main>
    <HeroSection />
    <MeaningSection />
    <AboutSection />
    <FinalCtaSection />
  </main>
</Layout>
